/* Reset margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {

    display: flex;
    justify-content: center;  /* Centers everything horizontally */
    align-items: flex-start;  /* Align to the top */
    min-height: 100vh;
    background-color: #fff7e6; /* Light honey color */


  }
  
  /* Container for the contact content */
  .contact-container {
    text-align: center;

    background-color: white; /* Light honey color */

    padding: 60px;

  }
  
  /* Title of the contact page */
  .title {
    margin-bottom: 80px;
    font-size: 2rem;
    color:#615252;
    font-weight: bold;
  }
  

  
  /* Styling for each contact method */
  .contact-methods {
    margin: 0 auto;    /* Centers the element horizontally */

    margin-bottom: 30px;
  }
  
  .contact-item {
    display: flex;
    margin-left: 30rem;    /* Centers the element horizontally */
    padding: 20px;


  }
  
  .contact-icon {
    font-size: 2rem;
    margin-right: 50px;
    color: #007bff;
  }
  
  

  .via {
    font-size: 1.3rem;
    color: #333;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .contact-container {
      padding: 20px;
    }
  
  }
