body {
    background-color: white;
}

h2 {
    color: #FFC670;
    font-size: 1.5rem;

}

p {
    text-align: left;
    padding: 20px 0px;
    font-size: large;
}

.up {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.client {
    grid-column: 1; 
    padding-top: 100px;
    padding-left: 130px;
    padding-bottom: 40px;
}

.commandes {
    grid-column: 2; 
    padding-top: 100px;
    padding-left: 130px;

}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.coordonnees {
    grid-column: 1; 
    padding-left: 130px;
    font-weight: bold;

}

.coord {
    grid-column: 2; 

}

.status {
    grid-column: 3; 
    padding-left: 130px;
    font-weight: bold;
}

.livraison {
    grid-column: 4; 
}
