/* Reset default margin and padding for body and html */
html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

  }
  
  .honey-header {
    background-color: #FFC670;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1;

    height: 100px;
    box-sizing: border-box;       /* Ensure padding doesn't affect width */

    width: 100%;

  }
  

  img {
    width: 100px;
    height: auto;                 /* Maintain aspect ratio */
    object-fit: contain;          /* Ensure logo stays in bounds */
  }



  
  /* Style for the navigation */
  .nav-list {
    display: grid;                /* Align list items side by side */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style-type: none;        /* Remove bullet points */
    padding: 0;
    margin: 0;
  }
  
 
  
  .nav-list a {
    text-decoration: none;        /* Remove underline from links */
    color: #3c2a22;               /* Darker honey color for text */
    font-size: x-large;
  }
  
  .home {
    padding-top: 60px;
    cursor: pointer;
    justify-self: center; /* Align the item to the right */

  }
  
  .boutique {
    padding-top: 60px;
    cursor: pointer;
    justify-self: center; /* Align the item to the right */

  }

  .qui {
    padding-top: 60px;
    cursor: pointer;
    justify-self: center; /* Align the item to the right */

  }

  .contact {
    padding-top: 60px;
    cursor: pointer;
    justify-self: center; /* Align the item to the right */

  }
  

  .panier {
    justify-self: end; /* Align the item to the right */

  }
  .register {
    justify-self: center; /* Align the item to the right */

  }
  .login {
    justify-self: start;

  }

  
  
  